.container{
    display: flex;
    width:100%;
    flex-direction:row;
    justify-content: flex-start;
}

.esquerda{
    display: flex;
    flex-direction:column;
    width: 75%;
    height: 100%;
    align-items: center;
}

.direita{
    display: flex;
    flex-direction:column;
    width: 25%;
    height: 100%;
}


#parte-preta{
    display: flex;
    flex-direction:column;
    width: 100%;
    background-color: black;

    align-content: center;
    justify-content: center;
}


#parte-cinza{
    display: flex;
    flex-direction:column;
    width: 100%;
    background-color: rgb(45, 45, 45);
}

#parte-cinza p{
    color: whitesmoke;
}

#postada{
    max-width: 75%;
    align-self: center;
}

#icones_e_esquerda {
    display: flexbox;
    flex-direction: row;
    align-self: flex-start;
    position: absolute;
    top: 5px;
    width: 8%;
 
}

#icones_e_direita {
    display: flexbox;
    flex-direction: row;
    align-self: flex-end;
    position: absolute;
    top: 5px;
    width: 8%;
 
}

#setas {
    display: inline-flexbox;
    flex-direction: row;
    justify-self: center;
    width: 8%;

    position: absolute;
    top: 50%;

}

#seta_d {
    position: absolute;
    right: -830%;
}

#icones_direita {
    display: flexbox;
    flex-direction:row;
    align-self: flex-end;
    border-bottom: 200px;
}

.icons_d {
    margin: 10px;
    justify-self: center;
    height: 30px;
}


#usuario_post{
    display: flex;
    flex-direction: row;
    height: 10%;
}
#usuario_post_div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user_image{
    height: 50px;
    margin: 10px;
}

#user_post_info{
    display: inline-flex;
    flex-direction: column;
    color: whitesmoke;
    margin: 5px;
}
#user_post_name {
    display: inline-block;
    color: whitesmoke;
    margin: 5px;
}

#user_post_date {
    display: inline-block;
    color: whitesmoke;
    margin: 5px;
}

#globo{
    height: 15px;
    align-self: center;
    position: relative;
    top: 15%;
    left: -22%;
}

#tres_pontos{
    margin: 10px;
    height: 30px;
    align-self: flex-end;
    position: relative;
    left: 33%;
}