.container{
    display: flex;
    width:100%;
    height: 100%;
    flex-direction:row;
    justify-content: flex-start;
    /* background-color: rgb(45, 45, 45); */
}

.esquerda{
    display: flex;
    flex-direction:column;
    width: 75%;
    height: 100%;
    align-items: center;
}

.direita{
    display: flex;
    flex-direction:column;
    width: 25%;
    /* height: 100%; */
}

#parte-preta{
    display: flex;
    flex-direction:column;
    width: 100%;
    background-color: black;

    align-content: center;
    justify-content: center;
}

#parte-cinza{
    display: flex;
    flex-direction:column;
    width: 100%;
    height:100%;
    background-color: rgb(45, 45, 45);
}

#parte-cinza p{
    color: whitesmoke;
}

#postada{
    max-width: 75%;
    align-self: center;
}

#icones_e_esquerda {
    display: flexbox;
    flex-direction: row;
    align-self: flex-start;
    position: absolute;
    top: 5px;
    /* width: 8%; */
 
}

#icones_e_direita {
    display: flexbox;
    flex-direction: row;
    align-self: flex-end;
    position: absolute;
    top: 5px;
    /* width: 8%; */
 
}

.icons{
    height: 30px;
}

#setas {
    display: inline-flexbox;
    flex-direction: row;
    justify-self: center;
    width: 8%;

    position: absolute;
    top: 50%;

}

#seta_d {
    position: absolute;
    right: -830%;
}

#icones_direita {
    display: flexbox;
    flex-direction:row;
    align-self: flex-end;
    border-bottom: 200px;
}

.icons_d {
    margin: 10px;
    justify-self: center;
    height: 30px;
}

#usuario_post{
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-between;
}

#usuario_post_div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user_image{
    height: 50px;
    margin: 10px;
}

#user_post_info{
    display: inline-flex;
    flex-direction: column;
    color: whitesmoke;
    margin: 5px;
}

#user_post_name {
    display: inline-block;
    color: whitesmoke;
    margin: 5px;
}

#user_post_date {
    display: inline-block;
    color: whitesmoke;
    margin: 5px;
}

#globo{
    height: 15px;
    align-self: center;
    position: relative;
    top: 15%;
    left: -22%;
}

#tres_pontos{
    display: inline-flex;
    margin: 10px;
    height: 30px;
    align-self: center;

}

#legenda{
    margin: 15px;
}

#dados{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
    margin: 15px;
}

#conjunto_like{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center; 
}

#conta_like{
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-left: 3px;
}

#conta_outro{
    display: inline-flex;
    align-self: flex-end;
}

#barra_de_acoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
    margin: 15px;
}

.icon_act{
    width: 25px;
    margin-right: 10px;
}

.post_act{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

#selecao{
    display: flex;
    align-self: flex-end;
    justify-content: center;
}

.comentario_1 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

.fundo_comentario{
    display: inline-flex;
    flex-direction: column;
    background-color: #606060;
    padding: 10px;
    border-radius: 10px;
    color: whitesmoke;
    justify-content: space-around;
    height: 40%;
}

.usuario {
    font-weight: bolder;
}

#meu_coment {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    margin-top: 45%;
    align-items: center;
}

#input_coment{
    background-color: #606060;
    border-radius: 10px;
    width: 70%;
    color: whitesmoke;
    height: 40%;
}
