.container{
    display: flex;
    width:75%;
    margin: 100px auto;
    gap: 50px;
    background-color: rgb(45, 45, 45);
}

.esquerda{
    display: flex;
    flex-direction:column;
    width: 75%;
}

.parte-preta{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 75%;
    background-color: black;
}

.icones_superiores{
    width: 40px;
    height: 40px;
}

#postada{
    width: 910px;
}

#x{
    position: absolute;
    top: 5px;
    left: 5px;
}

#facebook_icon{
    position: absolute;
    top: 0;
    left: 55px;
    width: 40px;
    height: 40px;

}

#lupa_mais{
    position: absolute;
    top: 5px;
    right: 160px;
}

#lupa_menos{
    position: absolute;
    top: 5px;
    right: 110px;
}

#etiqueta{
    position: absolute;
    top: 5px;
    right: 60px;
}

#setas_duplas{
    position: absolute;
    top: 5px;
    right: 10px;
}

#seta_direita{
    transform: scaleX(-1);
    width: 40px;
    height: 40px;
    position: absolute;
    top: 455px;
    right: 5px;    
}

#seta_esquerda{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 455px;
    left: 5px;    
}

.parte-cinza{
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 25%;
    height: 910px;
    background-color: rgb(45, 45, 45);
}

#abrir_menu{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 15px;  
    background-color: rgb(45, 45, 45);  
}

#sino{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 75px;  
    background-color: rgb(45, 45, 45);
}

#mensagem{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 135px;
    background-color: rgb(45, 45, 45);
}

#menu{
    width: 60px;
    height: 60px; 
    position: absolute;
    top: 5px;
    right: 195px;
    background-color: rgb(45, 45, 45);
}

#perfil{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 75px;
    left: 5px;
}

#globo{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 105px;
    left: 160px;
}

#usuario_post{
    position: absolute;
    top: 85px;
    left: 85px;
    color: whitesmoke;
}

#data_post{
    position: absolute;
    top: 105px;
    left: 85px;
    color: whitesmoke;
}

#tres_pontos{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 90px;
    right: 15px;
    background-color: rgb(45, 45, 45);
}

#legenda{
    color: whitesmoke;
    margin: 10px;
    position: absolute;
    top: 145px;
}

#dados{
    color: gray;
    position: absolute;
    top: 265px;
    right: 15px;
    font-weight: bold;
}

#like_azul{
    position: absolute;
    top: 265px;
    left: 15px;
}

#conta_likes{
    color: gray;
    position: absolute;
    top: 268px;
    left: 40px;
}

#linha1{
    position: absolute;
    top: 55px;
}

#linha2{
    position: absolute;
    top: 285px;
}

#pos_compartilhar{
    position: absolute;
    top: 305px;
    right: 20px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
}

#pos_comentar{
    position: absolute;
    top: 305px;
    right: 180px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
}

#pos_curtir{
    position: absolute;
    top: 305px;
    left: 55px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
}

#icon_curtir{
    position: absolute;
    top: 300px;
    left: 25px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
}

#icon_comentar{
    position: absolute;
    top: 300px;
    right: 263px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
}

#icon_compartilhar{
    position: absolute;
    top: 300px;
    right: 130px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
}

#linha3{
    position: absolute;
    top: 325px;
}